<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="chrome://branding/content/icon32.png" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/swiper.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/listproducts.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <title>GameStore</title>
  <style>
    ul,
    h1 {
      color: #888;
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="dtc">
      <%- include("../../../users/partials/inHeader.ejs"); -%>
    </header>

    <div class="block">
      <h1>Produtos cadastrados</h1>
      <% if(Object.keys(data).length> 0){ %>
        <ul class="products">
          <% for (var result of data) { %>
            <li>
              <div>
                <h2><%= result.name %></h2>
              </div>
              <div class="buttonsdiv">
                <a class="edt" href="/marketplaces/products/edit/<%= result.idproduct %>">Editar</a>
                <a class="del" href="/marketplaces/products/delete/<%= result.idproduct %>">Excluir</a>
              </div>
            </li>
            <% } %>
        </ul>
        <% } else{ %>
          <p>0 itens</p>
          <% } %>
    </div>
  </div>

  <footer class="dtc">
    <%- include("../../../store/partials/inFooter.ejs"); -%>
  </footer>

  <div class="modal"></div>

  <script src="/js/app.js"></script>
  <script src="/js/responsive-menu.js"></script>
  <script src="/js/resize.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/swiperpersonal.js"></script>
  <script src="/js/initcart.js"></script>
</body>

</html>