<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="chrome://branding/content/icon32.png" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link type="text/css" href="/css/reset.css">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/cart.css">
  <title>GameStore</title>
  <style>
    button {
      color: initial;
    }

    .cartShowList input {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="dtc">
      <% if(data["user"]===3){ %>
        <%- include("../../admin/partials/inHeader.ejs"); -%>
          <% } else if(data["user"]> 0){ %>
            <%- include("../../users/partials/inHeader.ejs"); -%>
              <% }else {%>
                <%- include("../partials/inHeader.ejs"); -%>
                  <%} %>
    </header>

    <div style="color: #191D20; display: none;">
      <%= data["user"] %>
    </div>

    <main>
      <div class="cartBlock">
        <h1>Carrinho</h1>

        <div class="cont">
          <form action="/profile/cart/pay" method="POST">
            <div class="cartShowList"></div>
            <button style="display: none;" type="submit"></button>
          </form>

          <aside>
            <div class="tot">0.00</div>

            <% if(data["user"]> 0){ %>
              <button onclick="btnCartOrder()">Finalizar compra 1</button>
              <% }else {%>
                <button class="btnCartStartLogin">Finalizar compra 2</button>
                <%} %>
          </aside>
        </div>
      </div>
    </main>

  </div>

  <footer class="dtc">
    <%- include("../../store/partials/inFooter.ejs"); -%>
  </footer>

  <div class="modal"></div>

  <script src="/js/app.js"></script>
  <script src="/js/responsive-menu.js"></script>
  <script src="/js/resize.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/swiperpersonal.js"></script>
  <script src="/js/pagecart.js"></script>
</body>

</html>