<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="chrome://branding/content/icon32.png" type="image/x-icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/swiper.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <title>GameStore</title>
</head>

<body>
  <div class="container">

    <header class="dtc">
      <% if(data["user"]===3){ %>
        <%- include("../../admin/partials/inHeader.ejs"); -%>
          <% } else if(data["user"]> 0){ %>
            <%- include("../../users/partials/inHeader.ejs"); -%>
              <% }else {%>
                <%- include("../partials/inHeader.ejs"); -%>
                  <%} %>
    </header>

    <div class="wrapper dtc">
      <section class="s-hero">
        <div class="swiper mySwiperHero">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture class="c-image">
                <source class="heroImgDesktop" srcset="<%= data.product[0].gamemedia[4].gamemediapath %>"
                  media="(min-width:1084px)">
                <source class="heroImgTablet" srcset="<%= data.product[0].gamemedia[2].gamemediapath %>"
                  media="(min-width:768px)">
                <source class="heroImgMobile" srcset="<%= data.product[0].gamemedia[2].gamemediapath %>"
                  media="(min-width:0)"><img srcset="img/farcry1920.jpg"
                  src="<%= data.product[0].gamemedia[4].gamemediapath %>" alt="">
              </picture>

              <div class="desc small">
                <div>
                  <h2>
                    <%= data.product[0].gamename %>
                  </h2>
                  <p class="product-price">R$ <%= data.product[0].gameprice %>
                  </p>
                  <p style="display: none;" class="gameprice">
                    <%= data.product[0].gameprice %>
                  </p>
                  <p class="product-status"><span class="material-symbols-outlined">groups</span> Disponível online e
                    offline</p>

                  <button onclick="addItensCart()">Adicionar ao carrinho<span class="material-symbols-outlined">
                      shopping_cart
                    </span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="content">
        <div class="open_close_menu">
          Filtrar busca
          <span class="material-symbols-outlined">
            sort
          </span>
        </div>

        <%- include("../partials/Sidebar.ejs"); -%>

          <div class="sectionGroup">
            <section class="s-gallery">
              <main>
                <div class="inGallery">
                  <div class="swiper mySwiperGallery swp">
                    <div class="swiper-wrapper">
                      <% for(let i=5; i <=8; i++) {%>
                        <div class="swiper-slide">
                          <a href="#">
                            <img src="<%= data.product[0].gamemedia[i].gamemediapath %>" alt="">
                          </a>
                        </div>
                        <%}%>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </main>
            </section>

            <section class="s-description">
              <div class="inDescription">

                <div class="infogame">
                  <h4 class="gamename">
                    <%= data.product[0].gamename %>
                  </h4>

                  <p class="gameid" style="display: none;">
                    <%= data.product[0].gameid %>
                  </p>

                  <p>
                    <%= data.product[0].gamedesc %>
                  </p>
                </div>

                <div class="system">
                  <div class="inSystem">
                    <div>
                      <h5>Requisitos Mínimo</h5><br>

                      <p>
                        <span>Processador</span><br>
                        <%= data.product[0].gamecpumin %>
                      </p>
                      <p>
                        <span>Memória RAM</span><br>
                        <%= data.product[0].gamerammin %>
                      </p>
                      <p>
                        <span>Armazenamento</span><br>
                        <%= data.product[0].gamestrmin %>
                      </p>
                      <p>
                        <span>Placa de vídeo</span><br>
                        <%= data.product[0].gamevdcardmin %>
                      </p>
                      <p>
                        <span>Logins</span><br>
                        Exige uma conta GameStore
                      </p>
                    </div>

                    <div>
                      <h5>Requisitos Recomendado</h5><br>

                      <p>
                        <span>Processador</span><br>
                        <%= data.product[0].gamecpurec %>
                      </p>
                      <p>
                        <span>Memória RAM</span><br>
                        <%= data.product[0].gameramrec %>
                      </p>
                      <p>
                        <span>Armazenamento</span><br>
                        <%= data.product[0].gamestrrec %>
                      </p>
                      <p>
                        <span>Placa de vídeo</span><br>
                        <%= data.product[0].gamevdcardrec %>
                      </p>
                      <p>
                        <span>Logins</span><br>
                        Exige uma conta GameStore
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
      </div>
    </div>
  </div>

  <footer class="dtc">
    <%- include("../partials/inFooter.ejs"); -%>
  </footer>

  <div class="modal"></div>



  <script src="/js/app.js"></script>
  <script src="/js/responsive-menu.js"></script>
  <script src="/js/resize.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/swiperpersonal.js"></script>
  <script src="/js/initcart.js"></script>
</body>

</html>